<div class="make-comment">
    <%= form_for([@movie, @movie.comments.build]) do |f| %>
    <div class="col-md-12">
        <% if current_user.name != ''%>
            <div class="col-md-10">
                <%= f.label current_user.name %>
                <%= f.hidden_field :user, :value => current_user.name %>
            </div>
        <% else %>
                <div class="col-md-10">
                    <%= f.text_field :user, class: "form-control", placeholder: 'NAME' %>
                </div>
        <% end %>
        <div class="col-md-10">    
            <%= f.text_area :body, class: "comment-body form-control", placeholder: 'COMMENT HERE' %>
        </div>
        <div class="col-md-2">
            <%= f.submit 'ADD COMMENT', :class => "btn btn-lg btn-primary center-block" %>
        </div>
    </div>
    
<% end %>     
</div>


