
<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>


  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.text_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :trailer %><br>
    <%= f.text_field :trailer,  class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_field :body, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "SUBMIT", :class => 'btn btn-primary btn-lg btn-block' %>
  </div>
  </form>
<% end %>
