

<h1>Add A New Movie</h1>

<div class="row">
  <%= form_tag(new_movie_path, method: "get") do %>
    <div class="col-md-4 col-xm-4">
      <%= text_field_tag(:q, "Movie Title", class: "form-control") %>
    </div>
    <div class="col-md-2 col-xm-4">
      <%= submit_tag("Search", class: "btn btn-default")%>
    </div>
    <% end %>
</div>


<!-- List Out Movies -->
<div class="row">

  <% if @results.any? %>
    <h3> Total results <%= @results.count %> </h3>
    <% @results.movies.each do |movie| %>
      <%= form_for movie do |form| %>
        <%= form.hidden_field :title %>
        <%= form.hidden_field :image %>
        <%= form.hidden_field :body %>

        <div class="well">
          <h3>
            <%= movie.title %>
          </h3>
          <div>
            <%= image_tag movie.image, alt: "poster" %>
          </div>
          <%= raw movie.body %>
          <input type="submit" value="Add Movie">
        </div>
      <% end %>

    <% end %>
  <% else %>
    <p>No Search Results</p>
  <% end %>

</div>
