<div class="container">

<div class="row text-center">
  <h1>ADD A MOVIE</h1>
</div>

<div class="row text-center">
  <%= form_tag(new_movie_path, method: "get") do %>
  <div class="col-md-6 col-md-offset-3">
    <div class="input-group">
      <%= text_field_tag(:q, nil, class: "form-control") %>
      <span class="input-group-btn">
          <%= submit_tag("Search", class: "btn btn-primary")%>
      </span>
    </div>
  </div>
  <% end %>
</div>

<!-- List Out Movies -->
<div class="row text-center">
  <div class="col-md-8 col-md-offset-2">

  <% if @results.any? %>
    <h3> Total results <%= @results.count %> </h3>
    <% @results.movies.each do |movie| %>
      <%= form_for movie do |form| %>
        <%= form.hidden_field :id %>

        <div class="well read-out dark-color">

          <div class="row">
            <div class="col-md-4">
              <div>
                <%= image_tag movie.image, alt: "No Poster Available" %>
              </div>
            </div>
            <div class="col-md-7 text-left">
              <div class="row edge-padding">
                <h2>
                  <%= movie.title %>
                </h2>
              </div>
              <div class="row edge-padding">

                <%= raw movie.body %>
              </div>

            </div>
          </div>
          <div class="row text-center top-padding edge-padding">
            <input type="submit" value="ADD MOVIE" class="btn btn-lg btn-block btn-success active">
            </input>
          </div>

        </div>
      <% end %>

    <% end %>
  <% else %>
  <div class="row">
     <h3>Search By Movie Title</h3>
  </div>

  <% end %>
  </div>
</div>
</div>
