<div class="container show">

  <div class="row title">
    <div class="col-md-10 ">
      <h2><%= @movie.title %></h2>
    </div>
    <div class="col-md-2">
    <% if @movie.trailer == 'KXSJNBGUH_o'%>
      <h3>(NO TRAILER)</h3>
    <% end %>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <embed class="player" src="https://www.youtube.com/embed/<%= @movie.trailer %>?rel=0&amp;showinfo=0" frameborder="0">
    </div>
  </div>

  <div class="row movie_details">
      <div class="col-md-3 movie_poster">
        <%= image_tag(@movie.image) %>
  
      </div>
      <div class="col-md-9 movie_body">
        <%= @movie.body %> <hr>
        Run Time : <%= @movie.runtime %> minutes <br>
        
        Budget &nbsp;: <%= number_with_delimiter(@movie.budget, :delimiter => ',') %> <br>
        Revenue: <%= number_with_delimiter(@movie.revenue, :delimiter => ',' ) %> <br>
        
        <% if (@movie.release_date) %>
          Release Date : <%= @movie.release_date.to_date.strftime("%A, %b %d %Y") %>
        <% else %>
          Release Date : Unknown
        <% end %>
        <br>
        
        <%= link_to 'IMDB Link', "https://www.imdb.com/title/#{@movie.imdb}", target: :_blank %>
      </div>
  </div>

  <div class="row lower_menu">
    <%= link_to 'Edit', edit_movie_path(@movie) %> |
    <%= link_to 'Back', movies_path %> |
    <%= link_to 'Delete', movie_path, :confirm => "are you sure?", :method => :delete %>
  </div>

</div>
<div class="container">
  
  
  <div class="col-md-10 ">
    
    <h2><%= @movie.comments.count %> Comments </h2>
    <%= render @movie.comments %>
  </div>


</div>

  <div class="container">
     <%= render "comments/form" %>

  </div>



