<p id="notice"><%= notice %></p>
<h2>Movie Show</h2>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Image:</strong>
  <hr/>
  
  <%= image_tag(@movie.image, class: "poster", size: "250x300") %>
  <%#= @movie.image %>
  
</p>
<p>
  <%= @movie.body %> <br>
  <%= link_to "trailer", @movie.trailer, :target => "blank"  %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %> | 
<%= link_to 'Delete', movie_path, :confirm => "are you sure?", :method => :delete %>
