<div class="container show">

  <div class="row title">
    <div class="col-md-10 col-xs-12 ">
      <h2><%= @movie.title %></h2>
    </div>
    <div class="col-md-2">
    <% if @movie.trailer == 'KXSJNBGUH_o'%>
      <h3>(NO TRAILER)</h3>
    <% end %>
    </div>

  </div>
  <div class="row to-the-edge">
    <div class="col-md-12">
      <embed class="player" src="https://www.youtube.com/embed/<%= @movie.trailer %>?rel=0&amp;showinfo=0" frameborder="0">
    </div>
  </div>

  <div class="row movie_details to-the-edge">
      <div class="col-md-3 movie_poster">
        <%= image_tag(@movie.image) %>

      </div>
      <div class="col-md-9 movie_body">
        <div class="well comment-body">
          Movie ID: <%= @movie.id %> 
          <br>
          Posted at: <%= @movie.created_at %>
          <br>
          Posted by: <%if @movie.user_name %> 
                      <%= link_to @movie.user_name, profile_path(@movie.user_id) %>
                    <% else %>
                      Unknown
                    <%end%>

        </div>

        <%= @movie.body %> 
        <hr>
        Run Time : <%= @movie.runtime %> minutes 
        <br>

        Budget &nbsp;: <%= number_with_delimiter(@movie.budget, :delimiter => ',') %> <br>
        Revenue: <%= number_with_delimiter(@movie.revenue, :delimiter => ',' ) %> <br>

        <% if (@movie.release_date) %>
          Release Date : <%= @movie.release_date.to_date.strftime("%A, %b %d %Y") %>
        <% else %>
          Release Date : Unknown
        <% end %>
        <br>

        <%= link_to 'IMDB Link', "https://www.imdb.com/title/#{@movie.imdb}", target: :_blank %>
        <br>
        Posted by...
      </div>

  </div>

  <div class="row lower_menu">
    <%= link_to 'Edit', edit_movie_path(@movie) %> |
    <%= link_to 'Back', movies_path %> |
    <%= link_to 'Delete', movie_path, :confirm => "are you sure?", :method => :delete %>
  </div>

</div>
<div class="container center-me">


  <div class="col-md-10 col-md-offset-1 col-xs-12">

    <h2 class="text-center"><%= @movie.comments.count %> Comments </h2>

  </div>
  <%= render @movie.comments %>

</div>

  <div class="container center-me">
  <%= render "comments/form" %>

  </div>
