<p id="notice"><%= notice %></p>
<h2>Movie Show</h2>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @movie.image %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %> | 
<%= link_to 'Delete', movie_path, :method => :delete %>
