<p id="notice"><%= notice %></p>

<div class="container show">

  <div class="row title">
    <h2><%= @movie.title %><h2>
  </div>
  <div class="row">
    <embed class="player" src="https://www.youtube.com/embed/<%= @movie.trailer %>" frameborder="0">
  </div>

  <div class="row movie_details">
      <div class="col-md-3 movie_poster">
        <%= image_tag(@movie.image) %>
      </div>
      <div class="col-md-9 movie_body">
        <%= @movie.body %> <hr>
        More Details to come. Still working on this.
      </div>
  </div>

  <div class="row lower_menu">
    <%= link_to 'Edit', edit_movie_path(@movie) %> |
    <%= link_to 'Back', movies_path %> |
    <%= link_to 'Delete', movie_path, :confirm => "are you sure?", :method => :delete %>
  </div>

</div>
