
    <% @movies.each do |movie| %>
      <!--the box-->
      <div class="col-sm-4 col-md-4 col-lg-3 reader-board">
      
        <div class="thumbnail thumb-box">
          
          <div class="row title">
            
              <% if movie.title? %>
                <span style="text-align:center;"> <%= link_to movie.title, movie %> </span>
              <% else %>
                <span style="text-align:center;"> <%= link_to 'Edit', movie %> </span>
              <% end %>
              

          </div>
          
        <div class="row images">
          <%= link_to movie do %>
            <%= image_tag( movie.image, class: "poster") %>
          <% end %>
        </div>
        
        <div class="row voting">
          <div class="caption" style="text-align:center;">
              <%= link_to like_movie_path(movie), class: "like", method: :put do %>
                <button type="button" class="btn btn-info" aria-label-"Left Align">
                  <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
                  <span class="badge"><%= movie.get_upvotes.size %></span>
                </button>
              <% end %>

              <%= link_to unlike_movie_path(movie), class: "like", method: :put do %>
                <button type="button" class="btn btn-info" aria-label-"Left Align">
                  <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
                  <span class="badge"><%= movie.get_downvotes.size %></span>
                </button>
              <% end %>
          </div>          
        </div>
      
      </div>
      <!--end the box-->
    </div>

    <% end %>
